
<%= simple_form_for @investment do |f| %>
  <% if investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
        <% investment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.input :name, required: true %>
  <%= f.input :tir, required: true %>
  <%= f.input :kind,  collection: Investment.kinds.keys, required: true %>
  <%= f.input( :user_id, collection: @users, required: true)%>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
