<h1><%= @user.email %></h1>


<% ([nil]+@user.investments.pluck(:kind).uniq).each do |kind| %>
<h3><%= kind ? kind : 'All' %></h3>
<div class="row">
  <div class="col-md-3">
    Investment count:
  </div>
  <div>
    <%= @user.investments_count(kind) %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    tir average:
  </div>
  <div>
    <%= @user.tir_average(kind) %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    Weighted average:
  </div>
  <div>
    <%= @user.weighted_average(kind) %>
  </div>
</div>
<% end %>
