
<nav class="placeholder">
	<div class="d-flex justify-content-between align-items-end nav-text col-md-12">
		<div class="d-flex">
      <%= image_tag('simple-house-logo.png', alt: 'Logo') %>
			<div>
				<h1>Portfolio</h1>
				<h6>manage your investments</h6>	
			</div>
		</div>
		<div>
      <%= link_to 'Home', root_path%>
      <%= link_to 'Investments', investments_path %>
      <% if current_user.present? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete)%>
      <% else %>
        <%= link_to('Login', new_user_session_path)%>
      <% end %>
		</div>	
	</div>
</nav>
