<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'landing', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
		<div class="placeholder">
			<div class="parallax-window">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<img src="<%= image_url('simple-house-logo.png') %>" alt="Logo" class="tm-site-logo" /> 
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Simple House</h1>
								<h6 class="tm-site-description">new restaurant template</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><%= link_to 'Home', root_path%></li>
								<li class="tm-nav-li"><%= link_to 'Investments', investments_path %></li>
                <% if current_user.present? %>
								    <li class="tm-nav-li"><%= link_to('Logout', destroy_user_session_path, method: :delete)%></li>
                <% else %>
								    <li class="tm-nav-li"><%= link_to('Login', new_user_session_path)%></li>
                <% end %>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

    <%= yield %>
  </body>
</html>
